/* Stylesheet.css */
div {
    color: white;
    background-color: black;
}
p {
    color: red;
    font-family: sans-serif;
}
table tr{
    border: 1px solid rgb(95, 95, 95);
    border-collapse: collapse;
}