div h1{
    font-family: sans-serif;
    margin: auto;
    width: 50%;
}

table{
    border: 2px solid;
    border-color: rgb(255, 0, 0);
    border-radius: 3px;
    background-color: lightgreen;
    text-align: center;
    font-family: sans-serif;
    border-collapse: collapse;
}
tr, th{
    padding-right: 25px;
}
tr, td:hover{
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: red;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-collapse: collapse;
}
tr:hover{
    background-color: gray;
}

#first-column{
    background-color: black;
    color: white;
}

